/* Generics */
nav {
  height: 70px;
}
#dashboard-navbar{
    height: 5%;
}
#dashboard-main{
    height: 90%;
}
#dashboard-footer{
    height: 5%;
}

.bg-dash{
    background-image: url('../img/food-background.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: 40%;
}
/* Utils */
.border-custom {
    border-radius: 20px;
}
.zoom-in{
    transition: transform .5s ease;
}
.zoom-in:hover{
    transform: scale(1.5);
}
.button-trigger:active {
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }
/*LEFT SIDE DASHBOARD*/
.col-side-left {
    width: 20%;
}

.bg-dash-left {
    border-radius: 20px 0px 0px 20px;
    a {
        &:hover {
            text-decoration: none;
            color: #000;
            background-color: $yellowJasmine;
        }
        .side-link-bg {
          font-size: 17px;
            padding: 10px;
            &:hover {
                background-color: $yellowJasmine;
                color: $oxfordBlue;
            }
        }
    }
}
.active {
    text-decoration: none;
    color: $oxfordBlue;
    background-color: $yellowJasmine;
    .side-link-bg {
      color: $oxfordBlue;
      background-color: $yellowJasmine;
    }
}

/* CLASSI CAROSELLO FINANCE */
.carousel .active {
    background-color: transparent;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23878' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23878' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*RIGHT SIDE DASHBOARD*/
.col-side-right {
    width: 80%;
}

.bg-dash-right {
    background-color: $white;
    border-radius: 0px 20px 20px 0px;
}

/********** TOGGLE STYLE  **********/

//Toggle Input for Dashboard Plates
.switch {
    width: 80px;
    height: 30px;
    position: relative;
}

.switch input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.switch label {
    display: block;
    width: 80%;
    height: 95%;
    position: relative;
    background: $white;
    border-radius: 30px 30px 30px 30px;
    transition: all 0.5s ease;
}
.switch input ~ label i {
    display: block;
    height: 26px;
    width: 26px;
    position: absolute;
    left: 2px;
    top: 1px;
    z-index: 2;
    border-radius: inherit;
    background-color: #a71a07; /* Fallback */
    transition: all 0.5s ease;
}

.switch label + span {
    content: "";
    display: inline-block;
    position: absolute;
    left: 70px;
    top: 5px;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background: #a02101;
    transition: all 0.5s ease;
    z-index: 2;
}

/* Toggle */
.fa-hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    text-align: center;
    font-size: 1em;
    color: $white;
}

.switch input:checked ~ label + span {
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    transition: all 0.5s ease;
    z-index: 2;
    background: #009600;
}

.switch input:checked ~ label i {
    left: auto;
    left: 63%;
    background-color: #216821;
    transition: all 0.5s ease;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
