/*Our Border*/
.border-right {
    border-right: 1px solid #000;
}


/*Navbar Front*/

.navbar-position{
    position: fixed;
    z-index: 18;
    width: 100vw;
}
.bg-jasmine{
    background-color: $yellowJasmine;
}
.bg-lightjasmine{
    background-color: $lightYellowJasmine;
}

