/*Our Border*/
.border-right {
    border-right: 1px solid #000;
}

body{
    font-family: "Roboto", sans-serif;
}
.navbar-position {
    position: fixed;
    z-index: 20;
    width: 100vw;
}


/*Navbar Front*/
.bg-jasmine{
    background-color: $lightYellowJasmine;
}
.bg-lightjasmine{
    background-color: $lightYellowJasmine;
}

