// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;


// Our Colors
$ourPurple: #9B006C;
$ourIndigo: #440264;
$ourLightIndigo: #dbfbf8;
$oxfordBlue: #007e8a;
$mediumTurquoise: #00CCBC;
$lightTurquoise: #e9dfee;
$carrotOrange: #ED9529;
$yellowJasmine: #e9dfee;
$lightYellowJasmine: #e9dfee;

