html{
    scroll-behavior: smooth;
}
#main-menu {
    background: $yellowJasmine;
    #logo {
        height: 60px;
    }
    h1 {
        color: $mediumTurquoise;
        line-height: 70px;
        vertical-align: middle;
        font-size: 30px;
    }
    .navbar-nav:first-of-type {
        color: $oxfordBlue;
    }
}
.nav-link {
    line-height: 59px;
}

.nav-link:hover,
.nav-link:active {
    background: $carrotOrange;
    color: currentColor;
}




button:not(.navbar-toggler) {
    border: none;
    background: $mediumTurquoise;
    &:hover {
        background: $oxfordBlue;
        transform: scale(1.15);
    }
}
