#main-menu {
    height: 70px;
    background: $yellowJasmine;
}

#logo {
    height: 60px;
}

.navbar-nav:first-of-type {
    color: $oxfordBlue;
}

.nav-link {
    line-height: 65px
}

.nav-link:hover,
.nav-link:active {
    background: $carrotOrange;
    color: currentColor;
}

.icon {
    font-size: 20px;
    vertical-align: middle;
}

.navbar-nav:first-of-type .icon {
    color: $oxfordBlue;
}

#menu-icon {
    font-size: 30px;
}




