#main-menu {
    background: $yellowJasmine;
}

#logo {
    max-height: 60px;
}

/*
.navbar-nav:first-of-type {
    color: $oxfordBlue;
}
*/

.nav-link:hover,
.nav-link:active {
    background: $carrotOrange;
    color: currentColor;
}
/*
.icon {
    font-size: 20px;
    vertical-align: middle;
}

.navbar-nav:first-of-type .icon {
    color: $oxfordBlue;
}

#menu-icon {
    font-size: 30px;
}
*/



